{% extends 'basic.html' %}
{% load static %}
{% block title %}
  settings
{% endblock %}

{% block body %}
  <div class="container mt-5 justify-content-center">
    <div class="row justify-content-center mt-5 py-5" style="border-radius: 10px; background-color: white;">
      <div class="col-md-6 col-lg-4 py-5 justify-content-center">
        {% if profile.picture %}
        <img src="{{ profile.picture.url }}" alt="Profile Picture" class="round-image" style="width: 200px; height: 200px;border-radius: 50%;
        object-fit: cover; border-radius: 100px; border-color: gainsboro; border-width: 20px; margin-left: 80px;" />
        {% else %}
          <img src="{% static 'images/default_profile.png' %}" class="card-img-top" alt="Default Profile" />
        {% endif %}
        <br />
        <br />
        <div>
          <div class="card p-4">
            <h6>Following</h6>
            {% for i in profile.follows.all %}
              <a href="{% url 'user_profile' i.user.id %}">@{{ i.user.username|lower }}</a>
            {% endfor %}
            <div style="margin-left: 230px;">
              <form action="{% url 'user_profile' profile.user.id %}" method="post">
                {% csrf_token %}
                {% if profile in user.profile.follows.all %}
                  <button class="btn btn-danger" type="submit" name="UnFollow" value="UnFollow">UnFollow</button>
                {% else %}
                  <button class="btn btn-primary" type="submit" name="Follow" value="Follow">Follow</button>
                {% endif %}
              </form>
            </div>
            <br /><br />
            <h6>Followed by</h6>
            {% for i in profile.followed_by.all %}
              <a href="{% url 'user_profile' i.user.id %}">@{{ i.user.username|lower }}</a>
            {% endfor %}
            <br /><br />
          </div>
        </div>

        <br /><br />

        <div>
          <p>{{ profile.bio }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
