{% extends 'basic.html' %}
{% load static %}
{% block title %}
Search
{% endblock title %}

{% block body %}
<div class="container justify-content-center">
    <div class="row justify-content-center mt-5 py-5 bg-white" style="border-radius: 10px;">
        <div class="col">
            {% if profiles %}
                {% for profile in profiles %}
                    <div class="card mb-3" style="width: 18rem;">
                        {% if profile.picture %}
                            <img src="{{ profile.picture.url }}" class="card-img-top" alt="{{ profile.user.username }}">
                        {% else %}
                            <img src="{% static 'images/default_profile.png' %}" class="card-img-top" alt="Default Profile">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ profile.user.username }}</h5>
                            <p class="card-text">{{ profile.bio|default:"No bio available." }}</p>
                            <a href="{% url 'user_profile' profile.user.id %}" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No profiles found matching your search criteria.</p>
            {% endif %}
        </div>
        {% for tweet in tweets %}
          <div class="tweet-card" style="box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); padding: 10px; ">
            <div class="tweet-header" style="padding: 5px;">
              <div class="user-info" style="border: 2px; border-color: gray;">
                {% if tweet.user == request.user %}
                  <div>
                    <a href="{% url 'edit_tweet_page' tweet.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_tweet' tweet.id %}" class="btn btn-primary">Delete</a>
                  </div>
                  <br />
                {% endif %}
                {% if tweet.user.profile.picture %}
                  <img src="{{ tweet.user.profile.picture.url }}" alt="Profile Picture" class="round-image" style="width: 50px; height: 50px;border-radius: 50%;
              object-fit: cover; border-radius: 100px; border-color: gainsboro; border-width: 20px;" />
                {% endif %}
                <p class="username"><a href="{% url 'user_profile' tweet.user.id %}">@{{ tweet.user.username }}</a></p>
                <div style="border: 5px; border-radius: 3px; border-color:black;">
                  <p class="tweet-time">{{ tweet.creation_time }}</p>
                </div>
              </div>
            </div>
            <div class="tweet-body">
              <p>{{ tweet.body }}</p>
            </div>
          </div>
          <br />
        {% endfor %}
    </div>
</div>
{% endblock body %}
